<footer class="w-100 f6 pa3 flex flex-wrap">
    <div class="db-l dn w-25"></div>
    <div class="w-100 w-75-l  ph3 flex justify-between items-center">
        <div>
            <p class="f6">&copy; <span id="copyright">
                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
            </span> JUAN RIOS</p>
        </div>
        <div>
            <ul class="pl0 list">
                {% for network in site.data.networks %}
                <li class="dib mr3 network-link"><a a class="dib light-gray-p hover-accent-blue link" href="{{ network.link }}" target="_blank" rel="nofollow noopener noreferrer" title="{{ network.name }}" style="height: 16px; width: 16px;">{{ network.icon }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>