---

---

@import 'tachyons';

//Variables

//Palette

$dark-gray:       #19144C;
$gray:            #545266;
$light-gray:      lighten($gray, 20%);
$accent-blue:     #1800FF;
$bright-purple:   #9900FF;

////////////////////////////

body { -webkit-font-smoothing: antialiased;}

// Colors
.dark-gray-p { color: $dark-gray; }
.gray-p { color: $gray; }
.light-gray-p { color: $light-gray; }
.accent-blue { color: $accent-blue; }
.bright-purple { color: $bright-purple; }

// Background colors
.bg-dark-gray-p { background-color: $dark-gray; }
.bg-gray-p { background-color: $gray; }
.bg-light-gray-p { background-color: $light-gray; }
.bg-accent-blue { background-color: $accent-blue; }
.bg-bright-purple { background-color: $bright-purple; }
.bg-black-haze { background: #F6F7F8; }

// Hover and focus colors
.hover-dark-gray-p:hover { color: $dark-gray; }
.hover-dark-gray-p:focus { color: $dark-gray; }
.hover-gray-p:hover { color: $gray; }
.hover-gray-p:focus { color: $gray; }
.hover-light-gray-p:hover { color: $light-gray; }
.hover-light-gray-p:focus { color: $light-gray; }
.hover-accent-blue:hover { color: $accent-blue; }
.hover-accent-blue:focus { color: $accent-blue; }
.hover-bright-purple:hover { color: $bright-purple; }
.hover-bright-purple:focus { color: $bright-purple; }


.site {
  display: flex;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.drop-shadow-1 {
  position: relative;
  box-shadow: 0 1px 2px 0px rgba(23,26,33, 0.15);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.drop-shadow-1::after {
  content: "";
  border-radius: .25rem;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(23,26,33, 0.10);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.drop-shadow-1:hover {
  color: #1800FF;
  transform: translate(0, -2px);
}

.drop-shadow-1:hover::after {
  opacity: 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-card {
  flex: initial;
}

.project-card#llorona-records {
  animation: slide-in .425s cubic-bezier(0.0, 0.0, 0.2, 1) 0s 1 ;
}

.project-card#swisscom-io {
  animation: slide-in .525s cubic-bezier(0.0, 0.0, 0.2, 1) 0s 1 ;
}

.project-card#simple-rain {
  animation: slide-in .625s cubic-bezier(0.0, 0.0, 0.2, 1) 0s 1 ;
}

.button-back {
  transform: translateX(0);
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    transform: translateX(-2px);
  }
}

.button-mail {
  transform: translateY(0);
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    transform: translateY(-2px);
  }
}

// Footer

.network-link {
  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 30em - 8 ){
    margin-right: .5rem;

  }
}