---
layout: main
---

<div class="w-100 pv5-l pv3 ph3 flex flex-row-ns flex-column flex-wrap">
    <div class="w-100 w-25-l pa3">
        <h1 class="mt0 mb1 f3-ns f2 fw8 dark-gray-p">{{ page.title }}</h1>
        <a class="link accent-blue hover-bright-purple" href="{{ site.baseurl }}/index.html">
            <div class="button-back mt3 mt1-ns inline-flex items-center">
                <span style="width: 24px; height: 24px;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M4 12l5-5v4h11v2H9v4"/></svg>
                    </span>
                <span class="dib">home</span>
            </div>
        </a>
        <div class="db dn-l pt3 bb b--black-05"></div>
    </div>
    <article class="w-100 w-75-l  f5 lh-copy">
        {{ content }}
    </article>
</div>